.dropdown {
    margin:0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown > button {
    background-color: transparent;
    border: 1px solid rgb(181, 181, 181);
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 14px;
}

.dropdown > button:hover {
    background-color: #8385875f;
    box-shadow: 0px 0px 0px 1px #838587;
    
}

.show {
 position:absolute;
 margin-top: 42px;
 z-index: 1;
 max-height: 180px;
 background-color: white;
 border: 1px solid rgb(158, 158, 158);
 border-radius: 8px;
 min-width: 320px;
 opacity: 1;
 animation-name: appearAnimation;
 animation-duration: .5s;
}

@keyframes appearAnimation {
    from{opacity: 0;}
    to {opacity: 1;}
}

.show > form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    max-height: 130px;
    overflow-y: scroll;
    width: 90%;
}

.show > form > div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.show > form > div > input {
    margin-right: 5px;
    margin-top: 3px;
    border-radius: 100px;
}

.show > div {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(149, 149, 149, 0.49);
    padding: 10px;
}

.show > div > button {
    background-color: #4D8FBE;
    border: transparent;
    padding: 5px;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.49);
}

.hide {
    display: none;
}