.poster > button{

}

.poster > a > img {
    display: block;
    border-radius: 0px;
    width: 100%;
}

.poster > a > img:last-of-type {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .poster{
        display: flex;
        justify-content: center;
        width: 40%;
        /* border: 2px solid black; */
    }
    
    .poster > a > img{
        display: none;
        min-width: 450px;
        max-width: 650px;
    }

    .poster > a > img:last-of-type {
        display: block;
    }
    
}