.poster > button{

}

.poster > a > img {
    display: block;
    border-radius: 0px;
    width: 100%;
}

.poster > a > img:last-of-type {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .poster{
        max-width: 650px;
    }

    .poster > a > img{
        display: none;
    }

    .poster > a > img:last-of-type {
        display: block;
    }
    
}