.joblist {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    padding-bottom: 70px;
}

.seemore {
    border: none;
    border-radius: 10px;
    background-color: #4D8FBE;
    color: white;
    font-size: 16px;
    height: 50px;
    width: 177px;
    margin-top: 30px;
}

.hidden {
    overflow: hidden;
    height: 100px;
}

.loading > img {
    /* border: 2px solid black; */
    margin-top: -28px;
    width: 70px;
}

.job-item-container > div:first-of-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}

.job-item-container > div:last-of-type{
    display: none;
}

@media only screen and (min-width: 1000px) {
    .joblist {
        /* border: 2px solid black; */
        align-items: baseline;
        padding-bottom: 0;
    }

    .job-item-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70vh;
    }
    
    .job-item-container > div:first-of-type{
        width: auto;
        overflow: scroll;
        padding-bottom: 40px;

    }
    
    .job-item-container > div:last-of-type{
        /* padding: 20px; */
        /* border: 2px solid black; */
        display: block;
        overflow: scroll;
        width: 60%;
    
    }

    .seemore {
        padding: 20px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}