.joblist {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    padding-bottom: 70px;
}

.seemore {
    border: none;
    border-radius: 10px;
    background-color: #4D8FBE;
    color: white;
    font-size: 16px;
    height: 50px;
    width: 177px;
}

.hidden {
    overflow: hidden;
    height: 100px;
}

.loading > img {
    /* border: 2px solid black; */
    margin-top: -28px;
    width: 70px;
}