.filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin-bottom: 20px;
}

.filter > button {
    text-decoration: none;
    color: #4D8FBE;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.modal {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow: scroll;
    padding: 20px 10px;
    padding-bottom: 180px;
}

.modal > button { 
    float: right;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: rgb(164, 6, 6);
}

.modal > div {
    
}

.modal > div > button {
    border: none;
    background-color: #4D8FBE;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin: 5px;
}

.modal > ul {
    margin-top: 20px;
    list-style-type: none;
}

.hide {
    display: none;
}