.button {
    border: none;
    background-color: transparent;
}

.jobitem {
    display: flex;
    background-color: #F8F8F8;
    border-radius: 10px;
    min-width: 370px;
    max-width: 370px;
    padding: 10px 20px;
    box-shadow: 0px 4px 5px rgba(195, 195, 195, 0.552);
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.blue {
    color: #4D8FBE;
}

.jobitem h4 {
    margin-bottom: 2px;
}

.jobitem > img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 12px;
}

.jobitem > div {
    /* border: 2px solid black; */
    width: 100%;
}

.jobitem-header > div > h3 {
    text-transform: capitalize;
}

.jobitem-header > div  {
    display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 30px;
}



.jobitem-attributes {
    text-align: left;
    margin-bottom: 10px;
}

.jobitem-attributes > p {
    display: inline-block;
    background-color: #4D8FBE;
    color: white;
    padding: 5px;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer > p {
    font-size: 14px;
}

@media only screen and (min-width: 1000px) {
    .jobitem {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border-bottom: none;
    }

    .jobitem > div {
        border-bottom: 1px solid rgb(226, 226, 226);
        padding-bottom: 8px;
    }
}