.button {
    border: none;
    background-color: transparent;
}

.jobitem {
    background-color: #F8F8F8;
    border-radius: 10px;
    min-width: 370px;
    max-width: 370px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 5px rgba(195, 195, 195, 0.552);
}

.blue {
    color: #4D8FBE;
}

.jobitem h4 {
    margin-bottom: 2px;
}

.jobitem > .jobitem-header > div img{
    width: 40px;
}

.jobitem-header > div  {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 30px;
}

.jobitem-attributes {
    text-align: left;
    margin-bottom: 10px;
}

.jobitem-attributes > p {
    display: inline-block;
    background-color: #4D8FBE;
    color: white;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}