.input {
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    text-align: left;
    height: 50px;
    width: 80%;
    box-shadow: 4px 4px 6px rgba(215, 215, 215, 0.642);
    outline: 0;
    font-size: 16px;

    padding-left: 36px;
}

.checkbox {
    margin-right: 5px;
    margin-top: 3px;
    border-radius: 100px;
}

.search-input {
    background: url(../../../assets/search-interface-symbol.png) no-repeat 8px;
    background-size: 20px;
}

.location-input {
    background: url(../../../assets/location.png) no-repeat 8px;
    background-size: 20px;
}