.input {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    text-align: left;
    height: 50px;
    width: 100%;
    outline: 0;
    font-size: 16px;
    padding-left: 36px;
}

.checkbox {
    margin-right: 5px;
    margin-top: 3px;
    border-radius: 100px;
}

.search-input {
    background: url(../../../assets/search-interface-symbol.png) no-repeat 8px;
    background-size: 20px;
}

.location-input {
    background: url(../../../assets/location.png) no-repeat 8px;
    background-size: 20px;
}

@media only screen and (min-width: 1000px) {
    .input{
        width: 100%;
    }
}