.header {
    background-color: #4D8FBE;
    margin-bottom: 30px;
    height: 60px;
}



.header > ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 3%;
}

.header > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    color: white;
}

.header > ul > li > img {
    object-fit: contain;
    width: 120px;
}