.search {
    display: flex;
    flex-direction: column;
}

.search > div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: 14%;
}

.search > div > div img {
    object-fit: contain;
    width: 20px;
}

.search > div input {
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    width: 80%;
    box-shadow: 4px 4px 10px rgb(215, 215, 215);
    outline: 0;
    font-size: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}

.search > div > a {
    background-color: #4D8FBE;
    border: none;
    width: 177px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
}

::placeholder {
    color: black;
    font-size: 12px;
}